---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.restaurant.seo.description }}">
  <meta rel="author" href="{{ site.data.restaurant.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.restaurant.seo.rel-publisher }}">
  <link rel="shortcut icon" href="/assets/img/favicons/Haden.ico">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <title>{{site.data.restaurant.Webtitle}}</title>
</head>
  <body>
    {% include header.html %}
    {% include aboutUs.html %}
    {% include cuisines.html %}
    {% include chefs.html %}
    {% include ratings.html %}
    {% include client-reviews.html %}
    {% include findUs.html %}
    {% include reservation.html %}
    {% include footer.html %}
  <script src="/assets/js/jquery-3.4.1.js"></script>
  <script src="/assets/js/functions.js" type="text/javascript"></script>
  </body>
</html>
