<section class="section-reviews">
  <div class="wrapper">
    <div class="title-block">
      <h1>client reviews</h1>
      <hr class="bar">
    </div>


    <div class="mobile-nav">
      {% for item in site.data.restaurant.PersonalityList %}
      <span></span>
      {% endfor %}
    </div>

    <div class="nav-controls">
      <div class="nav-control-prev">{% include icons/25px/icons-prev.html %}</div>
      <div class="nav-control-next">{% include icons/25px/icons-next.html %}</div>
    </div>

    <div class="quote-belt">
{% for item in site.data.restaurant.clientsReviews %}
            <div class="quote-unit">
              <figure class="client-face">
                <img src="assets/img/faces/{{item.avatar}}" alt="client-face">
                <figcaption>
                  <strong class="client-name">{{item.name}}</strong>
                  <em class="client-title">{{item.title}}</em>
                </figcaption>
              </figure>
              <div class="shot">{{item.quote}}</div>
            </div>
{% endfor %}
      </div>

  </div>
</section>
