<footer class="section-footer">
  <div class="wrapper">

    <div class="footer-container">

      <div class="company-logo">
        <span>{% include icons/100px/icons-logo.html %}</span>
        <h1>Haden</h1>
      </div>
      <p>{{ site.data.restaurant.footer-blog }}</p>

   <div class="social-container">
     <h3>Follow Us On: </h3>
     <a href=""><span>{% include icons/50px/icons-twitter.html %}</span></a>
     <a href=""><span>{% include icons/50px/icons-instagram.html %}</span></a>
     <a href=""><span>{% include icons/50px/icons-whatsapp.html %}</span></a>
     <a href=""><span>{% include icons/50px/icons-chef.html %}</span></a>
   </div>

   <div class="social-form">
     <input type="text" name="" value="" class="textInput" placeholder="Type Something in Here">
     <button type="button" name="button" class="button">Send</button>
   </div>

   <span>Haden. All Rights Reserved 2020</span>


    </div>
  </div>
</footer>
