<header id="header-section">
  <div class="wrapper">
    <nav>

      <div class="company-logo">
        {% include icons/100px/icons-logo.html %}
      </div>
      <ul class="main-nav">
        {% for item in site.data.restaurant.menu %}
        <li><a href="{{item.url}}">{{item.name}}</a></li>
        {% endfor %}
        <li class="toggleButton"><a href="javascript:void(0)" style="border-bottom:none;text-shadow:none;" onclick="showNav()">{% include icons/25px/icons-menu.html %}</a></li>
      </ul>

    </nav>

    <div class="header-shot">
      <span class="header-shot">{{site.data.restaurant.MainShot}}</span>
      <span class="welcome">{{site.data.restaurant.SubShot}}</span>
      <hr class="bar">
      <button type="button" name="button" class="button">Learn More</button>
    </div>
  </div>

  <nav class="mobile-nav">
    <li class="toggleButton"><a href="javascript:void(0)" style="border-bottom:none;text-shadow:none;" onclick="showNav()">{% include icons/25px/icons-cancel.html %}</a></li>
    {% for item in site.data.restaurant.menu %}
    <li><a href="{{item.url}}">{{item.name}}</a></li>
    {% endfor %}
  </nav>

</header>
