<section class="section-ratings">

  <div class="wrapper">
    <div class="title-block">
      <h1>Ratings</h1>
      <hr class="bar">
    </div>

    <div class="rating-container">
{% for item in site.data.restaurant.RatingList %}
      <div class="ratings" style="background-image: linear-gradient(50deg ,rgba(0, 0, 0, .61),rgba(196, 196, 196, 0)) ,url(/assets/img/{{item.image}}.jpg);background-repeat: no-repeat, no-repeat;
      background-blend-mode: darken, normal;
      background-position: 50% 50%, center;
      background-size: cover, cover;">
        <h2>{{item.title}}</h2>
        <div class="rating-kit">
          {% for i in  (1..{{item.active}}) %}
          <span class="rating-item on">{% include icons/75px/icons-{{item.icon}}.html %}</span>
          {% endfor %}
          {% for i in  (1..{{item.disabled}}) %}
          <span class="rating-item off">{% include icons/75px/icons-{{item.icon}}.html %}</span>
          {% endfor %}

        </div>
        <a href="javascript:void(0)">Click to view Details</a>
      </div>
{% endfor %}
    </div>


    </div>

</section>
