<section class="section-reservation">
  <div class="wrapper">
    <div class="title-block">
      <h1 id="service">reservations</h1>
      <hr class="bar">
    </div>

    <div class="reservation-container">
      {% for item in site.data.restaurant.reservationList %}
      <div class="reservation">
        <span class="main-logo">{% include icons/100px/icons-{{item.icon}}.html %}</span>
        <h2>Couple Reservation</h2>
        <div class="head-count">
          <span>{% include icons/25px/icons-headCount.html %}</span>
          <h3>Head Count: {{item.count}}</h3>
        </div>
        <div class="price-count">
          <span>{% include icons/25px/icons-dollarSign.html %}</span>
          <h3>{{item.price}}</h3>
        </div>
      </div>
      {% endfor %}
    </div>

    </div>

</section>
