section.section-cuisines
  background-image: linear-gradient(50deg ,rgba(0, 0, 0, .61),rgba(196, 196, 196, 0)) ,url(/assets/img/tomatoesDish.jpg)
  background-repeat: no-repeat, no-repeat
  background-blend-mode: darken, normal
  background-position: 50% 50%, center
  background-size: cover, cover
  background-attachment: fixed
  height: 800px
  color: #fff

  @media screen and (max-width:860px)
    height: auto
    box-sizing: border-box

  @media screen and (max-width:740px)
    background: linear-gradient(50deg ,rgba(0, 0, 0, .8),rgba(196, 196, 196, 0.2)) ,url(/assets/img/device/tomatoesDishSmall.jpg)
    background-repeat: no-repeat, no-repeat
    background-blend-mode: darken, normal
    background-position: 50% 50%, center
    background-size: cover, cover
    height: auto
    box-sizing: border-box
    color: #fff
    padding-bottom: 100px
  .wrapper
    .card-container
      margin-top: 50px
      position: relative
      display: grid
      grid-template-columns: repeat(4, auto)

      .card
        position: absolute
        background: #fff
        width: 350px
        height: 600px
        border-radius: 30px
        transition: 0.4s, 0s
        transition-delay: 0s, 0.4s
        transition-property: transform, z-index
        transform: translate(0,0)
        @extend %flex
        +flex-direction(column)
        +justify-content(center)
        +align-items(center)
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
        @for $i from 1 through 8
          &:nth-child(n+#{$i})
            transform: translate(#{$i * -100}px,0px)
            z-index: #{($i + 1)}
            top: 70%
            left: 70%
            &:hover
              transform: translate(#{($i * -100) +50}px,0px)
              z-index: 100

        .imageContainer
          picture
            img
              width: 300px
              height: 300px
              border-radius: 20px
              object-fit: cover
        .dataContainer
          width: 300px
          color: #000
          @extend %flex
          +align-items(flex-start)
          +flex-direction(column)
          text-transform: uppercase
          @extend %monserrat
          h2
            font-weight: 400
          h3
            font-weight: 400
            span
              @extend %monserrat-thin
              font-size: 24px
              vertical-align: middle

          .ratingContainer
            span
              display: inline-block
              svg
                +size(50px)
          .loveContainer
            @extend %flex
            +justify-content(center)
            +align-items(center)
            +flex-direction(row)
            span
              display: inline-block
              +pathColour($brand-pink)
              svg
                +size(50px)
            b
              display: inline-block
              margin-left: 20px
      @media screen and (max-width:970px)
        .card
          @for $i from 1 through 8
            &:nth-child(n+#{$i})
              transform: translate(#{$i * -80}px,0px)
              z-index: #{($i + 1)}
              top: 70%
              left: 70%
              &:hover
                transform: translate(#{($i * -80) +25}px,0px)
                z-index: 100
      @media screen and (max-width:860px)
        display: grid
        grid-template-columns: repeat(2, auto)
        max-width: 90%
        .card
          position: relative
          transition: none
          margin: 30px 10px
          @for $i from 1 through 8
            &:nth-child(n+#{$i})
              transform: translate(0px,0px)
              top: 0%
              left: 0%
              &:hover
                transform: none

      @media screen and (max-width:740px)
        display: grid
        grid-template-columns: repeat(1, auto)
        max-width: 90%
        .card
          position: relative
          background: #fff
          margin: 0 auto
          margin-top: 10px
